<h3>Select a user</h3>

<div>
    <input type="text" id="filter" class="form-control" ng-model="filter" placeholder="Search in bands...">
</div>

<form class="form-inline" ng-submit="addBand(newBand)" name="addBandForm">
    <div class="form-group">
        <label for="name">Naam</label>
        <input type="text" ng-model="newBand.name" class="form-control" id="name" placeholder="Guns n Roses" required>
    </div>
    <button type="submit" ng-disabled="addBandForm.$invalid">Add Band</button>
</form>
<br/>


<table class="table table-striped table-hover">
    <tr>
        <th>Naam</th>
        <th></th>
    </tr>
    <tr ng-repeat="band in bands |filter:filter | limitTo:10:((currentPage-1)*10)">
        <td>{{ band.name }}</td>
        <td><button ng-click="$close(band)">Choose</button></td>
    </tr>
</table>

<uib-pagination total-items="bands.length" ng-model="currentPage"></uib-pagination>