<ol class="breadcrumb">
    <li><a ui-sref="dashboard">Home</a></li>
    <li><a ui-sref="bands">Bands</a></li>
    <li class="active">{{ band.name }}</li>
</ol>


<h1>{{ band.name }}</h1>

<form class="form-horizontal" name="editBandForm" ng-submit="band.$update()">
    <div class="form-group">
        <label for="name" class="col-sm-2">Naam</label>
        <div class="col-sm-10">
            <input type="text" ng-model="band.name" class="form-control" id="name" placeholder="Guns n Roses" required>
        </div>
    </div>
    <button type="submit" ng-disabled="editBandForm.$invalid">Save</button>
</form>

<div class="row">
    <div class="col-sm-6">
        <h2>Bandmembers</h2>
        <div><button ng-click="selectUser()">Select user</button></div>
        <br/>
        <div class="alert alert-warning" ng-if="error">{{ error }}</div>

        <table class="table table-striped table-hover">
            <tr>
                <th>Naam</th>
                <th>Verwijder</th>
            </tr>
            <tr ng-repeat="member in band.members">
                <td><a ui-sref="user({id:member.user._id})">{{ member.user.name.full }}</a></td>

                <td><button ng-click="band.$removeMember({id: band._id, memberId: member._id})">Remove member</button></td>
            </tr>
        </table>
    </div>

    <div class="col-sm-6">
        <h2>Events</h2>

        <form class="form-inline" ng-submit="addEvent()" name="addEventForm">
            <div class="form-group">
                <label for="eventName">Naam</label>
                <input type="text" ng-model="newEvent.name" class="form-control" id="eventName" placeholder="The Big Event" required>
            </div>
            <div class="form-group">
                <label for="date">Datum</label>
                <input type="date" ng-model="newEvent.date" class="form-control" id="date" required>
            </div>
            <button type="submit" ng-disabled="addEventForm.$invalid">Add Event</button>
        </form>
        <br/>

        <table class="table table-striped table-hover">
            <tr>
                <th>Naam</th>
                <th>Datum</th>
                <th>Verwijder</th>
            </tr>
            <tr ng-repeat="event in events | orderBy:'date'">
                <td><a ui-sref="event({id:event._id})">{{ event.name }}</a></td>
                <td>{{ event.date | date:'d MMMM yyyy' }}</td>
                <td><button ng-click="removeEvent(event)">Delete</button></td>
            </tr>
        </table>
    </div>
</div>
