<ol class="breadcrumb">
    <li><a ui-sref="dashboard">Home</a></li>
    <li><a ui-sref="events">Events</a></li>
    <li class="active">{{ event.name }}</li>
</ol>

<h1>{{ event.name }}</h1>

<form class="form-horizontal" name="editEventForm" ng-submit="event.$update()">
    <div class="form-group">
        <label for="name" class="col-sm-2">Naam</label>
        <div class="col-sm-10">
            <input type="text" ng-model="event.name" class="form-control" id="name" placeholder="Lowlands" required>
        </div>
    </div>
    <div class="form-group">
        <label for="date" class="col-sm-2">Datum</label>
        <div class="col-sm-10">
            <input type="date" ng-model="event.date" class="form-control" id="date" required>
        </div>
    </div>
    <button type="submit" ng-disabled="editEventForm.$invalid">Save</button>
</form>

<div class="row">
    <div class="col-sm-6">
        <h2>Bands</h2>
        <div><button ng-click="selectBand()">Select band</button></div>
        <br/>
        <div class="alert alert-warning" ng-if="errorBands">{{ errorBands }}</div>

        <table class="table table-striped table-hover">
            <tr>
                <th>Name</th>
                <th>Delete</th>
            </tr>
            <tr ng-repeat="band in event.bands">
                <td><a ui-sref="band({id:band.band._id})">{{ band.band.name }}</a></td>

                <td><button ng-click="event.$removeBand({docId: band._id})">Remove band</button></td>
            </tr>
        </table>
    </div>
    <div class="col-sm-6">
        <h2>Users</h2>
        <div><button ng-click="selectUser()">Select user</button></div>
        <br/>
        <div class="alert alert-warning" ng-if="errorUsers">{{ errorUsers }}</div>

        <table class="table table-striped table-hover">
            <tr>
                <th>Name</th>
                <th>Delete</th>
            </tr>
            <tr ng-repeat="user in event.users">
                <td><a ui-sref="band({id:user.user._id})">{{ user.user.name.full }}</a></td>

                <td><button ng-click="event.$removeUser({docId: user._id})">Remove user</button></td>
            </tr>
        </table>
    </div>
</div>