<ol class="breadcrumb">
    <li><a ui-sref="dashboard">Home</a></li>
    <li class="active">Users</li>
</ol>

<h1>Users</h1>

<form class="form-inline" ng-submit="addUser(newUser)" name="addUserForm">
    <div class="form-group">
        <label for="first-name">Naam</label>
        <input type="text" ng-model="newUser.name.first" class="form-control" id="first-name" placeholder="John" required>
    </div>
    <div class="form-group">
        <label for="middle-name" class="sr-only">Tussen</label>
        <input type="text" ng-model="newUser.name.middle" class="form-control" id="middle-name" placeholder="the" size="5">
    </div>
    <div class="form-group">
        <label for="last-name" class="sr-only">Achternaam</label>
        <input type="text" ng-model="newUser.name.last" class="form-control" id="last-name" placeholder="Doe" required>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" ng-model="newUser.email" class="form-control" id="email" placeholder="me@hotmail.com" required>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" ng-model="newUser.password" class="form-control" id="password" placeholder="***" required>
    </div>
    <button type="submit" ng-disabled="addUserForm.$invalid">Add User</button>
</form>
<br/>

<table class="table table-striped table-hover">
    <tr>
        <th>Naam</th>
        <th>Leeftijd</th>
        <th>Verwijder</th>
    </tr>
    <tr ng-repeat="user in users">
        <td><a ui-sref="user({id: user._id})">{{ user.name.full }}</a></td>
        <td>{{ user.email }}</td>
        <td><button ng-click="deleteUser(user)">Delete</button></td>
    </tr>
</table>